# PyCharm files
.idea/

# Virtual environments
.env
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Pyenv
.python-version

# Media and other files
data/
logs/

db.sqlite
*.log

*~
