numpy==1.26.0
opencv-python==4.8.1.78
pillow==10.2.0
humanize==4.8.0
redis==5.0.1
rawpy==0.18.1
exifread==3.0.0

pycairo==1.25.0
PyGObject==3.46.0

pip-check-updates>=0.22.0
ipython>=8.16.1
flake8>=6.1.0
black>=23.9.1
PyGObject-stubs>=2.9.0