{% extends 'base.html' %}

{% block content %}
    <header class="visible">
        <div class="container"><a href="/">MGallery</a> > {{ item.name }}</div>
    </header>
    <section>
        <div class="container">
            <div class="row justify-content-start gallery">
                {% for image in item.images %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="preview">
                            <a href="/image/{{ image.id }}/" class="image {% if image.is_portrait %}portrait{% endif %}">
                                <img src="{{ image.link }}" alt="{{ image.name }}">
                            </a>
                            {% if image.similar.count() %}
                                <div class="similar">{{ image.similar.count() }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}