{% extends 'admin/master.html' %}

{% block body %}
    <style>
        .flex {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }
        .preview {
            width: 386px;
            height: 386px;
            margin: 0 6px 6px 0;
            text-align: center;
            overflow: hidden;
        }
        .preview img {
            display: inline-block;
            min-width: 0;
            max-width: initial;
            min-height: 100%;
            max-height: 100%;
        }
        .preview.portrait img {
            min-width: 100%;
            max-width: 100%;
            min-height: 0;
            max-height: initial;
        }
    </style>
    <h1>Gallery {{ item.year }}</h1>
    <div class="flex">
        {% for image in item.images %}
            <a href="/image/{{ image.id }}/" class="preview {% if image.height > image.width %}portrait{% endif %}">
                <img src="{{ image.link }}" alt="{{ image.name }}">
            </a>
        {% endfor %}
    </div>
{% endblock %}