{% extends 'base.html' %}

{% block content %}
    <header class="visible">
        <div class="container">
            <a href="/">MGallery</a> >
            <a href="/gallery/{{ item.gallery.id }}">{{ item.gallery.name }}</a> >
            {{ item.name }}
        </div>
    </header>
    <section>
        <div class="container">
            <div class="original">
                <img src="{{ item.link }}" alt="{{ item.name }}">
            </div>
            <div class="dimensions">
                Dimensions: {{ item.width }} x {{ item.height }}
            </div>
            <hr>
            <div class="similar">
                {% if item.similar.count() %}
                    <div>Similar images</div>
                    <div class="row">
                        {% for image in item.similar %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <div class="preview">
                                    <a href="/image/{{ image.id }}/" class="image {% if image.is_portrait %}portrait{% endif %}">
                                        <img src="{{ image.link }}" alt="{{ image.name }}">
                                    </a>
                                    <div class="name">{{ image.name }}</div>
                                    <div class="dimensions">
                                        {{ image.width }} x {{ image.height }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col">There are no similar images</div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}