@media only screen and (max-width: 1024px) {
    .preview .image {
        width: 320px;
        height: 320px;
    }
}

@media only screen and (max-width: 768px) {
    .preview .image {
        width: 360px;
        height: 360px;
    }
}

@media only screen and (max-width: 425px) {
    .preview .image {
        width: 425px;
        height: 425px;
    }
}

@media only screen and (max-width: 375px) {
    .preview .image {
        width: 375px;
        height: 375px;
    }
}

@media only screen and (max-width: 360px) {
    .preview .image {
        width: 360px;
        height: 360px;
    }
}

@media only screen and (max-width: 325px) {
    .preview .image {
        width: 325px;
        height: 325px;
    }
}